/* importing google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Pacifico&family=Patrick+Hand+SC&display=swap");

*{
	margin: 0;
	padding: 0;
}

.body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #ddd;
  background: linear-gradient(to left, #8942a8, #ba382f);
}
#heading{
	padding: 15px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}

.cards {
  margin: 30px auto;
  justify-self: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 215px;
  height: 250px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 15px;
  background-image: url("images/cardimg1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 40%;
  padding: 15px;
  margin: 20px 50px;
  text-align: center;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.profilearea {
  margin-top: 30px;
}

#name {
  font-family: 'Patrick Hand SC', cursive;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 30px;
  font-weight: bold;
  color: #ba382f;
}

#national {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  margin-top: 0;
  color: #746d69;
}

#industry {
  font-family: 'Montserrat', sans-serif;
  margin-top: 25px;
  font-size: 20px;
  color: #746d69;
}
.card #img{
	height: 70px;
	width: 70px;
	border: 3px solid white;
	border-radius: 50%;
	margin-top: 60px;
	margin-bottom: -20px;
}
.animate {
	width: 100%;
	height: 100%;
  overflow: hidden;
}
.boxes {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.boxes li {
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 20s linear infinite;
	bottom: -150px;
}
.boxes li:nth-child(1) {
	left: 86%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}
.boxes li:nth-child(2) {
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.boxes li:nth-child(3) {
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.boxes li:nth-child(4) {
	left: 42%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.boxes li:nth-child(5) {
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.boxes li:nth-child(6) {
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-800px) rotate(360deg);
		opacity: 0;
	}
}